<div class="footer">
  <div class="container-fluid text-center text-md-left">
      <div class="row">
          <div class="col-md-6">
              <h5 class="text-uppercase">TRADE ANALYTICA</h5>
              <p>A POWERFUL TOOL TO MONITER USERS ACTIVITY THROUGH RICH USER INTERFACE AND GRAPHS.</p>
          </div>
          <div class="col-md-6">
              <ul class="list-unstyled">
                  <li>
                      <a href="#!">FIS (Fidelity Information Services)</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="footer-copyright py-3 text-center">
      <a href="#">www.fis.com </a>
  </div>
</div>